{% extends 'base.html' %}

{% block title %}new person{% endblock title %}

{% block content %}
    <h1>new person</h1>

    <form action="{{ url_for('new_person') }}" method="post">
        <label for="name">
            <input type="text" id="name" name="name" placeholder="name...">
        </label>
        <label for="age">
            <input type="text" id="age" name="age" placeholder="age...">
        </label>
        <label for="salary">
            <input type="text" id="salary" name="salary" placeholder="salary...">
        </label>
        <input type="submit" value="add">
    </form>
{% endblock content %}
